# Authentication (Clerk)
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...

# App Environment
EXPO_PUBLIC_APP_ENV=development

# Machine Learning Backend
EXPO_PUBLIC_FLASK_SERVER_URL=https://shuchithvam-ml-task-server.onrender.com

# Database & Storage (Supabase)
EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbG...
